<mat-toolbar color="primary">
  <span class="Company_name">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>RAM List</span>
      </button>
      <button mat-menu-item>
        <mat-icon>memory</mat-icon>
        <span>RAM Types</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
  <span class="Company_name">nubedian GmbH</span>
</mat-toolbar>

<div class="content">
  <table mat-table
       [dataSource]="allRamsData" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let RAM"> {{RAM[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let RAM" [attr.colspan]="columnsToDisplay.length">
      <div class="example-RAM-detail"
           [@detailExpand]="RAM == expandedRAMS ? 'expanded' : 'collapsed'">
        <div class="example-RAM-diagram">
          <div class="example-RAM-clock_speed"> Clock Speed: {{RAM.Clock_speed}} </div>
          <div class="example-RAM-size"> Size: {{RAM.Size}} </div>
          <div class="example-RAM-CAS_latency"> CAS Latency: {{RAM.CAS_latency}} </div>
          <div class="example-RAM-ECC_status"> ECC Status: {{RAM.ECC_status}} </div>
          <div class="example-RAM-price"> Price: &#8364;{{RAM.Price}} </div>
        </div>
        <div class="example-RAM-description"> Find details of the selected RAM.
          <! -- creating onclick pop up for edits -->
          <button (click)="openDialog('Update',RAM)" ><span class="example-RAM-description-attribution"> -- edit </span></button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let RAM; columns: columnsToDisplay;"
      class="example-RAM-row"
      [class.example-expanded-row]="expandedRAMS === RAM"
      (click)="expandedRAMS = RAM">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

<div class="footer">
  <span class="toLeft"> 
    <img src = "assets/NubedianLogo.png" class="img"/>
    <h4> &#169; all rights reserved</h4>
  </span>
  <span class="toRight">
    <h3>
      Contact me: <br/>
      <mat-icon style=" vertical-align: middle;">mail_outline</mat-icon> 
      <a href="mailto:nawalucille@gmail.com?subject=RAMS%20Web%20App&amp;body=Dear%20Lucille,">nawalucille@gmail.com</a> <br/>
      <mat-icon style=" vertical-align: middle;">phone</mat-icon> (359)884497002 <br/>
      <mat-icon style=" vertical-align: middle;">location_on</mat-icon> Varna, Bulaaria <br/>
    </h3>
  </span>
</div>




